{% extends "base_menu.html" %}
{% block content %}
<h1>Welcome to Ads</h1>

<div style="float:right">
<form>
  <input type="text" placeholder="Search.." name="search"
  {% if search %} value="{{ search }}" {% endif %}
  >
  <button type="submit"><i class="fa fa-search"></i></button>
<a href="{% url 'myads:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div>

<p>
    {%if ad_list %}
    <ul>
        {% for ads in ad_list %}
        <li>
            <a href = "{% url 'myads:ad_detail' ads.id %}">{{ ads.title }}</a>
            {% if ads.owner == user %}
            (<a href="{% url 'myads:ad_update' ads.id %}">Edit</a> |
            <a href="{% url 'myads:ad_delete' ads.id %}">Delete</a>)
            {% endif %}
            {% if user.is_authenticated %}
                <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
                <a href="#" onclick=
                    "favPost('{% url 'myads:ad_unfavourite' ads.id %}', {{ ads.id }} );return false;"
                    {% if ads.id not in favourites %} style="display: none;" {% endif %}
                    id="favourite_star_{{ads.id}}">
                <span class="fa-stack" style="vertical-align: middle;">
                <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                <i class="fa fa-star-o fa-stack-1x"></i>
                </span>
                </a>
                <!-- the second href -->
                <a href="#" onclick=
                     "favPost('{% url 'myads:ad_favourite' ads.id %}', {{ ads.id }} );return false;"
                    {% if ads.id in favourites %} style="display: none;" {% endif %}
                    id="unfavourite_star_{{ads.id}}">
                <span class="fa-stack" style="vertical-align: middle;">
                <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
                <i class="fa fa-star-o fa-stack-1x"></i>
                </span>
                </a>
            {% endif %}


            <!--added text discription-->
            <div style="left:10px">
            {% if ads.text|length < 100 %}
                {{ ads.text }}
            {% else %}
                {{ ads.text|slice:"0:99" }}
                <a href="{% url 'myads:ad_detail'  ads.id %}">...</a>
            {% endif %}
            </div>
            <small>
            {% if ads.owner.username %}
                posted by {{ ads.owner.username }}
            {% endif %}
            {{ ads.natural_updated }}
            </small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no ads in the database</p>
    {% endif %}
</p>
<p>
    <a href="{% url 'myads:ad_create' %}">Add Ads</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'myads:all' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'myads:all' %}">Login</a>
    {% endif %}
</p>

<script>
function toggleInlineDisplay(star_id) {
    var elem = document.getElementById(star_id);
    if(window.getComputedStyle(elem).display == "inline") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'inline';
    } else if(window.getComputedStyle(elem).display == "block") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'block';
    } else {
        console.log('prev', elem.dataset.previousDisplay);
        if ( typeof elem.dataset.previousDisplay == 'string' ) {
            elem.style.display = elem.dataset.previousDisplay
        } else {
            elem.style.display = 'inline';
        }
    }
}

function favPost(url, ads_id) {
    console.log('POSTing to', url);
    fetch(url, { method: 'POST', body: '{}' } )
    .then((response) => {
        console.log(url, 'finished');

        console.log("Element for unfavourite:", document.getElementById("unfavourite_star_" + ads_id));
        console.log("Element for favourite:", document.getElementById("favourite_star_" + ads_id));
        toggleInlineDisplay("unfavourite_star_"+ads_id);
        toggleInlineDisplay("favourite_star_"+ads_id);
    }).catch((error) => {
        alert('Url failed with '+error+' '+url);
    });
}
</script>
{% endblock %}
